@font-face {
  font-family: Arciform;
  src: url("Arciform.otf");
}
.mediaViewInfo {
  --web-view-name: informacion_tramite;
  --web-view-id: informacion_tramite;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-scale-on-double-click: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arciform Sans;
}
:root {
  --web-view-ids: informacion_tramite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#informacion_tramite {
  position: absolute;
  width: 1920px;
  height: 1080px;
  font-family: Arciform Sans;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: informacion_tramite;
  --web-view-id: informacion_tramite;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-scale-on-double-click: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arciform Sans;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Grupo_11_l {
  position: absolute;
  width: 1932.274px;
  height: 415.88px;
  left: -12.274px;
  top: 0px;
  overflow: visible;
}
#Grupo_10_l {
  position: absolute;
  width: 1932.274px;
  height: 415.88px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_58_l {
  position: absolute;
  width: 1919.431px;
  height: 664.12px;
  left: 3.614px;
  top: 415.88px;
  overflow: visible;
}
#Grupo_54_l {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 866.865px;
  top: 0px;
  overflow: visible;
}
#Grupo_53_l {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_57_l {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_56_ma {
  position: absolute;
  width: 1052.566px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Informacin_Trmites {
  left: 220.5px;
  top: 121.64px;
  position: absolute;
  overflow: visible;
  width: 1480px;
  white-space: nowrap;
  line-height: 202.86288452148438px;
  margin-top: -16.905242919921875px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 169.05239868164062px;
  color: rgba(229,74,118,1);
}
#Grupo_157 {
  position: absolute;
  width: 943.331px;
  height: 226.396px;
  left: 488.334px;
  top: 634.742px;
  overflow: visible;
}
#Rectngulo_20 {
  fill: rgba(229,74,118,1);
}
.Rectngulo_20 {
  filter: drop-shadow(2px 2px 9px rgba(177, 177, 177, 0.749));
  position: absolute;
  overflow: visible;
  width: 970.331px;
  height: 253.396px;
  left: 0px;
  top: 0px;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: inicio;
  cursor: pointer;
}
#Trazado_141 {
  fill: rgba(172,27,87,1);
}
.Trazado_141 {
  overflow: visible;
  position: absolute;
  width: 241.708px;
  height: 226.395px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Area_en_construccin_ {
  left: 259.704px;
  top: 70.198px;
  position: absolute;
  overflow: visible;
  width: 664px;
  white-space: nowrap;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  color: rgba(255,255,255,1);
}
#Grupo_60 {
  position: absolute;
  width: 147.036px;
  height: 147.042px;
  left: 42.61px;
  top: 42.993px;
  overflow: visible;
}
#Trazado_148 {
  fill: rgba(255,255,255,1);
}
.Trazado_148 {
  overflow: visible;
  position: absolute;
  width: 147.036px;
  height: 147.042px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_149 {
  fill: rgba(255,255,255,1);
}
.Trazado_149 {
  overflow: visible;
  position: absolute;
  width: 42.177px;
  height: 66.195px;
  left: 54.336px;
  top: 53.291px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_150 {
  fill: rgba(255,255,255,1);
}
.Trazado_150 {
  overflow: visible;
  position: absolute;
  width: 24.614px;
  height: 24.591px;
  left: 62.232px;
  top: 24.865px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_159 {
  position: absolute;
  width: 113.636px;
  height: 113.636px;
  left: 1762.997px;
  top: 941.5px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: inicio;
  cursor: pointer;
}
#Elipse_5_ml {
  fill: rgba(197,197,196,1);
}
.Elipse_5_ml {
  width: 80.353px;
  height: 80.353px;
  position: absolute;
  overflow: visible;
  transform: translate(-1762.997px, -941.5px) matrix(1,0,0,1,1779.6382,958.1418) rotate(-45deg);
  transform-origin: center;
}
#Trazado_151_mm {
  fill: rgba(255,255,255,1);
}
.Trazado_151_mm {
  overflow: visible;
  position: absolute;
  width: 56.117px;
  height: 40.952px;
  left: 28.759px;
  top: 35.972px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_158 {
  position: absolute;
  width: 113.636px;
  height: 113.636px;
  left: 1632.983px;
  top: 941.13px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Elipse_6_mo {
  fill: rgba(197,197,196,1);
}
.Elipse_6_mo {
  width: 80.353px;
  height: 80.353px;
  position: absolute;
  overflow: visible;
  transform: translate(-1632.983px, -941.13px) matrix(1,0,0,1,1649.625,957.7719) rotate(-45deg);
  transform-origin: center;
}
#Trazado_152_mp {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Trazado_152_mp {
  overflow: visible;
  position: absolute;
  width: 26.91px;
  height: 47.387px;
  left: 41.497px;
  top: 33.857px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_65_mq {
  position: absolute;
  width: 342.97px;
  height: 52.976px;
  left: 59.697px;
  top: 976.419px;
  overflow: visible;
}
#Grupo_62_mr {
  position: absolute;
  width: 196.928px;
  height: 52.976px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Trazado_153_ms {
  fill: rgba(172,27,87,1);
}
.Trazado_153_ms {
  overflow: visible;
  position: absolute;
  width: 46.767px;
  height: 41.963px;
  left: 0px;
  top: 3.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_154_mt {
  fill: rgba(172,27,87,1);
}
.Trazado_154_mt {
  overflow: visible;
  position: absolute;
  width: 35.043px;
  height: 21.338px;
  left: 87.732px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_155_mu {
  fill: rgba(172,27,87,1);
}
.Trazado_155_mu {
  overflow: visible;
  position: absolute;
  width: 32.708px;
  height: 33.76px;
  left: 124.838px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_156_mv {
  fill: rgba(172,27,87,1);
}
.Trazado_156_mv {
  overflow: visible;
  position: absolute;
  width: 36.516px;
  height: 25.163px;
  left: 48.81px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_157_mw {
  fill: rgba(172,27,87,1);
}
.Trazado_157_mw {
  overflow: visible;
  position: absolute;
  width: 34.495px;
  height: 14.008px;
  left: 160.637px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_158_mx {
  fill: rgba(172,27,87,1);
}
.Trazado_158_mx {
  overflow: visible;
  position: absolute;
  width: 38.199px;
  height: 11.197px;
  left: 7.154px;
  top: 41.779px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_159_my {
  fill: rgba(172,27,87,1);
}
.Trazado_159_my {
  overflow: visible;
  position: absolute;
  width: 34.46px;
  height: 16.597px;
  left: 87.973px;
  top: 36.379px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_61_mz {
  position: absolute;
  width: 32.85px;
  height: 22.515px;
  left: 124.838px;
  top: 30.461px;
  overflow: visible;
}
#Trazado_160_m {
  fill: rgba(172,27,87,1);
}
.Trazado_160_m {
  overflow: visible;
  position: absolute;
  width: 10.678px;
  height: 22.515px;
  left: 22.172px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_161_m {
  fill: rgba(172,27,87,1);
}
.Trazado_161_m {
  overflow: visible;
  position: absolute;
  width: 10.574px;
  height: 20.283px;
  left: 0px;
  top: 2.232px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_162_m {
  fill: rgba(172,27,87,1);
}
.Trazado_162_m {
  overflow: visible;
  position: absolute;
  width: 34.999px;
  height: 15.202px;
  left: 50.056px;
  top: 37.774px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_163_m {
  fill: rgba(172,27,87,1);
}
.Trazado_163_m {
  overflow: visible;
  position: absolute;
  width: 36.835px;
  height: 26.307px;
  left: 160.093px;
  top: 26.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_63_m {
  position: absolute;
  width: 79.82px;
  height: 13.899px;
  left: 210.542px;
  top: 19.607px;
  overflow: visible;
}
#Trazado_164_m {
  fill: rgba(172,27,87,1);
}
.Trazado_164_m {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 0px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_165_m {
  fill: rgba(172,27,87,1);
}
.Trazado_165_m {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 12.698px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_166_m {
  fill: rgba(172,27,87,1);
}
.Trazado_166_m {
  overflow: visible;
  position: absolute;
  width: 21.598px;
  height: 13.679px;
  left: 29.221px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_167_m {
  fill: rgba(172,27,87,1);
}
.Trazado_167_m {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 53.638px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_168_m {
  fill: rgba(172,27,87,1);
}
.Trazado_168_m {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 69.426px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_64_na {
  position: absolute;
  width: 132.428px;
  height: 19.563px;
  left: 210.542px;
  top: 33.369px;
  overflow: visible;
}
#Trazado_169_nb {
  fill: rgba(172,27,87,1);
}
.Trazado_169_nb {
  overflow: visible;
  position: absolute;
  width: 2.99px;
  height: 18.656px;
  left: 0px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_170_nc {
  fill: rgba(172,27,87,1);
}
.Trazado_170_nc {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 6.398px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_171_nd {
  fill: rgba(172,27,87,1);
}
.Trazado_171_nd {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 22.087px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_172_ne {
  fill: rgba(172,27,87,1);
}
.Trazado_172_ne {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 13.875px;
  left: 36.943px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_173_nf {
  fill: rgba(172,27,87,1);
}
.Trazado_173_nf {
  overflow: visible;
  position: absolute;
  width: 13.14px;
  height: 13.434px;
  left: 51.873px;
  top: 5.908px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_174_ng {
  fill: rgba(172,27,87,1);
}
.Trazado_174_ng {
  overflow: visible;
  position: absolute;
  width: 13.631px;
  height: 13.875px;
  left: 66.385px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_175_nh {
  fill: rgba(172,27,87,1);
}
.Trazado_175_nh {
  overflow: visible;
  position: absolute;
  width: 12.748px;
  height: 13.875px;
  left: 82.958px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_176_ni {
  fill: rgba(172,27,87,1);
}
.Trazado_176_ni {
  overflow: visible;
  position: absolute;
  width: 2.991px;
  height: 18.656px;
  left: 98.304px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_177_nj {
  fill: rgba(172,27,87,1);
}
.Trazado_177_nj {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 19.563px;
  left: 103.868px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_178_nk {
  fill: rgba(172,27,87,1);
}
.Trazado_178_nk {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 120.392px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_70_nl {
  position: absolute;
  width: 342.97px;
  height: 52.976px;
  left: 59.697px;
  top: 976.419px;
  overflow: visible;
}
#Grupo_67_nm {
  position: absolute;
  width: 196.928px;
  height: 52.976px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Trazado_179_nn {
  fill: rgba(172,27,87,1);
}
.Trazado_179_nn {
  overflow: visible;
  position: absolute;
  width: 46.767px;
  height: 41.963px;
  left: 0px;
  top: 3.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_180_no {
  fill: rgba(172,27,87,1);
}
.Trazado_180_no {
  overflow: visible;
  position: absolute;
  width: 35.043px;
  height: 21.338px;
  left: 87.732px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_181_np {
  fill: rgba(172,27,87,1);
}
.Trazado_181_np {
  overflow: visible;
  position: absolute;
  width: 32.708px;
  height: 33.76px;
  left: 124.838px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_182_nq {
  fill: rgba(172,27,87,1);
}
.Trazado_182_nq {
  overflow: visible;
  position: absolute;
  width: 36.516px;
  height: 25.163px;
  left: 48.81px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_183_nr {
  fill: rgba(172,27,87,1);
}
.Trazado_183_nr {
  overflow: visible;
  position: absolute;
  width: 34.495px;
  height: 14.008px;
  left: 160.637px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_184_ns {
  fill: rgba(172,27,87,1);
}
.Trazado_184_ns {
  overflow: visible;
  position: absolute;
  width: 38.199px;
  height: 11.197px;
  left: 7.154px;
  top: 41.779px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_185_nt {
  fill: rgba(172,27,87,1);
}
.Trazado_185_nt {
  overflow: visible;
  position: absolute;
  width: 34.46px;
  height: 16.597px;
  left: 87.973px;
  top: 36.379px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_66_nu {
  position: absolute;
  width: 32.85px;
  height: 22.515px;
  left: 124.838px;
  top: 30.461px;
  overflow: visible;
}
#Trazado_186_nv {
  fill: rgba(172,27,87,1);
}
.Trazado_186_nv {
  overflow: visible;
  position: absolute;
  width: 10.678px;
  height: 22.515px;
  left: 22.172px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_187_nw {
  fill: rgba(172,27,87,1);
}
.Trazado_187_nw {
  overflow: visible;
  position: absolute;
  width: 10.574px;
  height: 20.283px;
  left: 0px;
  top: 2.232px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_188_nx {
  fill: rgba(172,27,87,1);
}
.Trazado_188_nx {
  overflow: visible;
  position: absolute;
  width: 34.999px;
  height: 15.202px;
  left: 50.056px;
  top: 37.774px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_189_ny {
  fill: rgba(172,27,87,1);
}
.Trazado_189_ny {
  overflow: visible;
  position: absolute;
  width: 36.835px;
  height: 26.307px;
  left: 160.093px;
  top: 26.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_68_nz {
  position: absolute;
  width: 79.82px;
  height: 13.899px;
  left: 210.542px;
  top: 19.607px;
  overflow: visible;
}
#Trazado_190_n {
  fill: rgba(172,27,87,1);
}
.Trazado_190_n {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 0px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_191_n {
  fill: rgba(172,27,87,1);
}
.Trazado_191_n {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 12.698px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_192_n {
  fill: rgba(172,27,87,1);
}
.Trazado_192_n {
  overflow: visible;
  position: absolute;
  width: 21.598px;
  height: 13.679px;
  left: 29.221px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_193_n {
  fill: rgba(172,27,87,1);
}
.Trazado_193_n {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 53.638px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_194_n {
  fill: rgba(172,27,87,1);
}
.Trazado_194_n {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 69.426px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_69_n {
  position: absolute;
  width: 132.428px;
  height: 19.563px;
  left: 210.542px;
  top: 33.369px;
  overflow: visible;
}
#Trazado_195_n {
  fill: rgba(172,27,87,1);
}
.Trazado_195_n {
  overflow: visible;
  position: absolute;
  width: 2.99px;
  height: 18.656px;
  left: 0px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_196_n {
  fill: rgba(172,27,87,1);
}
.Trazado_196_n {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 6.398px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_197_n {
  fill: rgba(172,27,87,1);
}
.Trazado_197_n {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 22.087px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_198_n {
  fill: rgba(172,27,87,1);
}
.Trazado_198_n {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 13.875px;
  left: 36.943px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_199_oa {
  fill: rgba(172,27,87,1);
}
.Trazado_199_oa {
  overflow: visible;
  position: absolute;
  width: 13.14px;
  height: 13.434px;
  left: 51.873px;
  top: 5.908px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_200_ob {
  fill: rgba(172,27,87,1);
}
.Trazado_200_ob {
  overflow: visible;
  position: absolute;
  width: 13.631px;
  height: 13.875px;
  left: 66.385px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_201_oc {
  fill: rgba(172,27,87,1);
}
.Trazado_201_oc {
  overflow: visible;
  position: absolute;
  width: 12.748px;
  height: 13.875px;
  left: 82.958px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_202_od {
  fill: rgba(172,27,87,1);
}
.Trazado_202_od {
  overflow: visible;
  position: absolute;
  width: 2.991px;
  height: 18.656px;
  left: 98.304px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_203_oe {
  fill: rgba(172,27,87,1);
}
.Trazado_203_oe {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 19.563px;
  left: 103.868px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_204_of {
  fill: rgba(172,27,87,1);
}
.Trazado_204_of {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 120.392px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}