@font-face {
  font-family: Arciform;
  src: url("Arciform.otf");
}

.mediaViewInfo {
  --web-view-name: home – 1;
  --web-view-id: home__1;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arciform Sans;
}
:root {
  --web-view-ids: home__1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#home__1 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  font-family: Arciform Sans;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: home – 1;
  --web-view-id: home__1;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arciform Sans;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Grupo_74_zd {
  position: absolute;
  width: 1932.274px;
  height: 1078.78px;
  left: -12.273px;
  top: 0px;
  overflow: visible;
}
#Grupo_73_ze {
  position: absolute;
  width: 1932.273px;
  height: 1078.78px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_79_zf {
  position: absolute;
  width: 342.971px;
  height: 52.976px;
  left: 792.488px;
  top: 147.999px;
  overflow: visible;
}
#Grupo_76_zg {
  position: absolute;
  width: 196.929px;
  height: 52.976px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Trazado_205_zh {
  fill: rgba(255,255,255,1);
}
.Trazado_205_zh {
  overflow: visible;
  position: absolute;
  width: 46.767px;
  height: 41.963px;
  left: 0px;
  top: 3.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_206_zi {
  fill: rgba(255,255,255,1);
}
.Trazado_206_zi {
  overflow: visible;
  position: absolute;
  width: 35.045px;
  height: 21.338px;
  left: 87.731px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_207_zj {
  fill: rgba(255,255,255,1);
}
.Trazado_207_zj {
  overflow: visible;
  position: absolute;
  width: 32.708px;
  height: 33.76px;
  left: 124.838px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_208_zk {
  fill: rgba(255,255,255,1);
}
.Trazado_208_zk {
  overflow: visible;
  position: absolute;
  width: 36.516px;
  height: 25.163px;
  left: 48.811px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_209_zl {
  fill: rgba(255,255,255,1);
}
.Trazado_209_zl {
  overflow: visible;
  position: absolute;
  width: 34.494px;
  height: 14.008px;
  left: 160.638px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_210_zm {
  fill: rgba(255,255,255,1);
}
.Trazado_210_zm {
  overflow: visible;
  position: absolute;
  width: 38.199px;
  height: 11.197px;
  left: 7.155px;
  top: 41.779px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_211_zn {
  fill: rgba(255,255,255,1);
}
.Trazado_211_zn {
  overflow: visible;
  position: absolute;
  width: 34.459px;
  height: 16.597px;
  left: 87.974px;
  top: 36.379px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_75_zo {
  position: absolute;
  width: 32.85px;
  height: 22.515px;
  left: 124.838px;
  top: 30.461px;
  overflow: visible;
}
#Trazado_212_zp {
  fill: rgba(255,255,255,1);
}
.Trazado_212_zp {
  overflow: visible;
  position: absolute;
  width: 10.677px;
  height: 22.515px;
  left: 22.173px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_213_zq {
  fill: rgba(255,255,255,1);
}
.Trazado_213_zq {
  overflow: visible;
  position: absolute;
  width: 10.575px;
  height: 20.283px;
  left: 0px;
  top: 2.232px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_214_zr {
  fill: rgba(255,255,255,1);
}
.Trazado_214_zr {
  overflow: visible;
  position: absolute;
  width: 34.999px;
  height: 15.203px;
  left: 50.057px;
  top: 37.773px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_215_zs {
  fill: rgba(255,255,255,1);
}
.Trazado_215_zs {
  overflow: visible;
  position: absolute;
  width: 36.835px;
  height: 26.307px;
  left: 160.094px;
  top: 26.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_77_zt {
  position: absolute;
  width: 79.821px;
  height: 13.899px;
  left: 210.542px;
  top: 19.607px;
  overflow: visible;
}
#Trazado_216_zu {
  fill: rgba(255,255,255,1);
}
.Trazado_216_zu {
  overflow: visible;
  position: absolute;
  width: 10.395px;
  height: 13.875px;
  left: 0px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_217_zv {
  fill: rgba(255,255,255,1);
}
.Trazado_217_zv {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 12.699px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_218_zw {
  fill: rgba(255,255,255,1);
}
.Trazado_218_zw {
  overflow: visible;
  position: absolute;
  width: 21.598px;
  height: 13.679px;
  left: 29.222px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_219_zx {
  fill: rgba(255,255,255,1);
}
.Trazado_219_zx {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 53.639px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_220_zy {
  fill: rgba(255,255,255,1);
}
.Trazado_220_zy {
  overflow: visible;
  position: absolute;
  width: 10.395px;
  height: 13.875px;
  left: 69.426px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_78_zz {
  position: absolute;
  width: 132.429px;
  height: 19.563px;
  left: 210.542px;
  top: 33.369px;
  overflow: visible;
}
#Trazado_221_z {
  fill: rgba(255,255,255,1);
}
.Trazado_221_z {
  overflow: visible;
  position: absolute;
  width: 2.991px;
  height: 18.656px;
  left: 0px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_222_z {
  fill: rgba(255,255,255,1);
}
.Trazado_222_z {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 6.397px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_223_z {
  fill: rgba(255,255,255,1);
}
.Trazado_223_z {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 22.088px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_224_z {
  fill: rgba(255,255,255,1);
}
.Trazado_224_z {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.876px;
  left: 36.944px;
  top: 5.687px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_225_z {
  fill: rgba(255,255,255,1);
}
.Trazado_225_z {
  overflow: visible;
  position: absolute;
  width: 13.14px;
  height: 13.434px;
  left: 51.874px;
  top: 5.908px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_226_z {
  fill: rgba(255,255,255,1);
}
.Trazado_226_z {
  overflow: visible;
  position: absolute;
  width: 13.631px;
  height: 13.876px;
  left: 66.386px;
  top: 5.687px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_227_z {
  fill: rgba(255,255,255,1);
}
.Trazado_227_z {
  overflow: visible;
  position: absolute;
  width: 12.748px;
  height: 13.876px;
  left: 82.958px;
  top: 5.687px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_228_z {
  fill: rgba(255,255,255,1);
}
.Trazado_228_z {
  overflow: visible;
  position: absolute;
  width: 2.991px;
  height: 18.656px;
  left: 98.304px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_229_z {
  fill: rgba(255,255,255,1);
}
.Trazado_229_z {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 19.563px;
  left: 103.869px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_230_z {
  fill: rgba(255,255,255,1);
}
.Trazado_230_z {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 120.392px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_172 {
  position: absolute;
  width: 529.494px;
  height: 226.396px;
  left: 697.552px;
  top: 388.833px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Trazado_231_b {
  fill: rgba(232,84,124,1);
}
.Trazado_231_b {
  overflow: visible;
  position: absolute;
  width: 342.877px;
  height: 226.396px;
  left: 186.617px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_232_c {
  fill: rgba(172,27,87,1);
}
.Trazado_232_c {
  overflow: visible;
  position: absolute;
  width: 241.707px;
  height: 226.396px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Revisin_Tecnica {
  left: 262.366px;
  top: 57.698px;
  position: absolute;
  overflow: visible;
  width: 166px;
  white-space: nowrap;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Grupo_174 {
  position: absolute;
  width: 534.544px;
  height: 226.992px;
  left: 125.544px;
  top: 393.16px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Rectngulo_23_f {
  fill: rgba(232,84,124,1);
}
.Rectngulo_23_f {
  position: absolute;
  overflow: visible;
  width: 529.494px;
  height: 226.396px;
  left: 5.05px;
  top: 0.596px;
}
#Desarchivar_tramite {
  left: 255.941px;
  top: 48.847px;
  position: absolute;
  overflow: visible;
  width: 244px;
  white-space: nowrap;
  line-height: 60.000003814697266px;
  margin-top: -5.000001907348633px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Trazado_238_h {
  fill: rgba(172,27,87,1);
}
.Trazado_238_h {
  overflow: visible;
  position: absolute;
  width: 241.708px;
  height: 226.396px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_83_i {
  position: absolute;
  width: 115.09px;
  height: 145.719px;
  left: 51.082px;
  top: 42.847px;
  overflow: visible;
}
#Trazado_242_j {
  fill: rgba(255,255,255,1);
}
.Trazado_242_j {
  overflow: visible;
  position: absolute;
  width: 115.09px;
  height: 145.719px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_243_k {
  fill: rgba(255,255,255,1);
}
.Trazado_243_k {
  overflow: visible;
  position: absolute;
  width: 86.584px;
  height: 6.116px;
  left: 14.258px;
  top: 52.571px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_244_l {
  fill: rgba(255,255,255,1);
}
.Trazado_244_l {
  overflow: visible;
  position: absolute;
  width: 86.58px;
  height: 6.107px;
  left: 14.263px;
  top: 102.754px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_245_m {
  fill: rgba(255,255,255,1);
}
.Trazado_245_m {
  overflow: visible;
  position: absolute;
  width: 86.564px;
  height: 6.086px;
  left: 14.258px;
  top: 86.038px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_246_n {
  fill: rgba(255,255,255,1);
}
.Trazado_246_n {
  overflow: visible;
  position: absolute;
  width: 86.568px;
  height: 6.101px;
  left: 14.257px;
  top: 69.301px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_247_o {
  fill: rgba(255,255,255,1);
}
.Trazado_247_o {
  overflow: visible;
  position: absolute;
  width: 46.342px;
  height: 6.064px;
  left: 14.257px;
  top: 119.505px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_173 {
  position: absolute;
  width: 529.494px;
  height: 227.543px;
  left: 1263.764px;
  top: 391.091px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Rectngulo_26_q {
  fill: rgba(232,84,124,1);
}
.Rectngulo_26_q {
  position: absolute;
  overflow: visible;
  width: 529.494px;
  height: 226.396px;
  left: 0px;
  top: 1.147px;
}
#Revisin_Legal {
  left: 248.747px;
  top: 50.21px;
  position: absolute;
  overflow: visible;
  width: 160px;
  white-space: nowrap;
  line-height: 59.000003814697266px;
  margin-top: -5.000001907348633px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Trazado_241_s {
  fill: rgba(172,27,87,1);
}
.Trazado_241_s {
  overflow: visible;
  position: absolute;
  width: 241.708px;
  height: 226.395px;
  left: 0.218px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_84_t {
  position: absolute;
  width: 135.09px;
  height: 134.015px;
  left: 56.59px;
  top: 48.202px;
  overflow: visible;
}
#Trazado_248_u {
  fill: rgba(255,255,255,1);
}
.Trazado_248_u {
  overflow: visible;
  position: absolute;
  width: 135.091px;
  height: 134.015px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_249_v {
  fill: rgba(255,255,255,1);
}
.Trazado_249_v {
  overflow: visible;
  position: absolute;
  width: 48.058px;
  height: 6.85px;
  left: 17.424px;
  top: 51.416px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_250_w {
  fill: rgba(255,255,255,1);
}
.Trazado_250_w {
  overflow: visible;
  position: absolute;
  width: 48.03px;
  height: 6.817px;
  left: 19.095px;
  top: 82.996px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_251_x {
  fill: rgba(255,255,255,1);
}
.Trazado_251_x {
  overflow: visible;
  position: absolute;
  width: 48.074px;
  height: 6.817px;
  left: 18.727px;
  top: 72.63px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_252_y {
  fill: rgba(255,255,255,1);
}
.Trazado_252_y {
  overflow: visible;
  position: absolute;
  width: 48.227px;
  height: 6.811px;
  left: 17.992px;
  top: 61.738px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_170 {
  position: absolute;
  width: 529.494px;
  height: 226.396px;
  left: 697.551px;
  top: 654.683px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Rectngulo_25_ {
  fill: rgba(232,84,124,1);
}
.Rectngulo_25_ {
  position: absolute;
  overflow: visible;
  width: 529.494px;
  height: 226.396px;
  left: 0px;
  top: 0px;
}
#RAM {
  left: 276.748px;
  top: 82.198px;
  position: absolute;
  overflow: visible;
  width: 119px;
  white-space: nowrap;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Trazado_240_ {
  fill: rgba(172,27,87,1);
}
.Trazado_240_ {
  overflow: visible;
  position: absolute;
  width: 241.708px;
  height: 226.396px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_12_ {
  position: absolute;
  width: 136.067px;
  height: 147.263px;
  left: 52.821px;
  top: 39.567px;
  overflow: visible;
}
#Trazado_9_ {
  fill: rgba(255,255,255,1);
}
.Trazado_9_ {
  overflow: visible;
  position: absolute;
  width: 136.067px;
  height: 147.263px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_10_ {
  fill: rgba(255,255,255,1);
}
.Trazado_10_ {
  overflow: visible;
  position: absolute;
  width: 76.859px;
  height: 26.476px;
  left: 25.143px;
  top: 41.156px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_11_ {
  fill: rgba(255,255,255,1);
}
.Trazado_11_ {
  overflow: visible;
  position: absolute;
  width: 76.852px;
  height: 26.461px;
  left: 38.167px;
  top: 85.577px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_12_ {
  fill: rgba(255,255,255,1);
}
.Trazado_12_ {
  overflow: visible;
  position: absolute;
  width: 76.853px;
  height: 26.467px;
  left: 33.815px;
  top: 70.782px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_13_ {
  fill: rgba(255,255,255,1);
}
.Trazado_13_ {
  overflow: visible;
  position: absolute;
  width: 76.853px;
  height: 26.435px;
  left: 29.481px;
  top: 55.988px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_14_ {
  fill: rgba(255,255,255,1);
}
.Trazado_14_ {
  overflow: visible;
  position: absolute;
  width: 41.243px;
  height: 16.023px;
  left: 42.504px;
  top: 110.826px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_171 {
  position: absolute;
  width: 534.09px;
  height: 227.215px;
  left: 125.544px;
  top: 654.683px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Rectngulo_24 {
  fill: rgba(232,84,124,1);
}
.Rectngulo_24 {
  position: absolute;
  overflow: visible;
  width: 533.091px;
  height: 226.396px;
  left: 1px;
  top: 0.819px;
}
#RUAT {
  left: 251.042px;
  top: 77.722px;
  position: absolute;
  overflow: visible;
  width: 101px;
  white-space: nowrap;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Trazado_239 {
  fill: rgba(172,27,87,1);
}
.Trazado_239 {
  overflow: visible;
  position: absolute;
  width: 241.707px;
  height: 226.396px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_45_e {
  position: absolute;
  width: 159.537px;
  height: 159.414px;
  left: 41.085px;
  top: 32.015px;
  overflow: visible;
}
#Trazado_83_f {
  fill: rgba(255,255,255,1);
}
.Trazado_83_f {
  overflow: visible;
  position: absolute;
  width: 159.537px;
  height: 159.414px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_84_g {
  fill: rgba(255,255,255,1);
}
.Trazado_84_g {
  overflow: visible;
  position: absolute;
  width: 35.137px;
  height: 34.194px;
  left: 95.481px;
  top: 99.174px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_85_h {
  fill: rgba(255,255,255,1);
}
.Trazado_85_h {
  overflow: visible;
  position: absolute;
  width: 33.634px;
  height: 35.419px;
  left: 111.345px;
  top: 50.344px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_86_i {
  fill: rgba(255,255,255,1);
}
.Trazado_86_i {
  overflow: visible;
  position: absolute;
  width: 33.645px;
  height: 32.114px;
  left: 111.341px;
  top: 113.471px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_87_j {
  fill: rgba(255,255,255,1);
}
.Trazado_87_j {
  overflow: visible;
  position: absolute;
  width: 8.484px;
  height: 8.514px;
  left: 58.517px;
  top: 124.847px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_88_k {
  fill: rgba(255,255,255,1);
}
.Trazado_88_k {
  overflow: visible;
  position: absolute;
  width: 11.501px;
  height: 4.91px;
  left: 82.14px;
  top: 128.472px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_89_l {
  fill: rgba(255,255,255,1);
}
.Trazado_89_l {
  overflow: visible;
  position: absolute;
  width: 11.502px;
  height: 4.887px;
  left: 68.841px;
  top: 128.49px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_90_m {
  fill: rgba(255,255,255,1);
}
.Trazado_90_m {
  overflow: visible;
  position: absolute;
  width: 8.848px;
  height: 8.452px;
  left: 122.125px;
  top: 63.186px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_91_n {
  fill: rgba(255,255,255,1);
}
.Trazado_91_n {
  overflow: visible;
  position: absolute;
  width: 8.48px;
  height: 8.474px;
  left: 58.518px;
  top: 63.175px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_92_o {
  fill: rgba(255,255,255,1);
}
.Trazado_92_o {
  overflow: visible;
  position: absolute;
  width: 11.513px;
  height: 4.886px;
  left: 68.83px;
  top: 63.177px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_93_p {
  fill: rgba(255,255,255,1);
}
.Trazado_93_p {
  overflow: visible;
  position: absolute;
  width: 11.497px;
  height: 4.896px;
  left: 82.14px;
  top: 63.173px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_94_q {
  fill: rgba(255,255,255,1);
}
.Trazado_94_q {
  overflow: visible;
  position: absolute;
  width: 11.501px;
  height: 4.89px;
  left: 108.785px;
  top: 63.178px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_95_r {
  fill: rgba(255,255,255,1);
}
.Trazado_95_r {
  overflow: visible;
  position: absolute;
  width: 11.429px;
  height: 4.881px;
  left: 95.492px;
  top: 63.186px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_96_s {
  fill: rgba(255,255,255,1);
}
.Trazado_96_s {
  overflow: visible;
  position: absolute;
  width: 4.893px;
  height: 11.243px;
  left: 58.495px;
  top: 73.26px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_97_t {
  fill: rgba(255,255,255,1);
}
.Trazado_97_t {
  overflow: visible;
  position: absolute;
  width: 4.891px;
  height: 11.266px;
  left: 58.498px;
  top: 99.066px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_98_u {
  fill: rgba(255,255,255,1);
}
.Trazado_98_u {
  overflow: visible;
  position: absolute;
  width: 4.893px;
  height: 11.272px;
  left: 58.495px;
  top: 111.961px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_99_v {
  fill: rgba(255,255,255,1);
}
.Trazado_99_v {
  overflow: visible;
  position: absolute;
  width: 4.886px;
  height: 11.28px;
  left: 58.511px;
  top: 86.159px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_100_w {
  fill: rgba(255,255,255,1);
}
.Trazado_100_w {
  overflow: visible;
  position: absolute;
  width: 4.894px;
  height: 11.275px;
  left: 125.729px;
  top: 86.165px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_101_x {
  fill: rgba(255,255,255,1);
}
.Trazado_101_x {
  overflow: visible;
  position: absolute;
  width: 4.892px;
  height: 11.267px;
  left: 125.729px;
  top: 73.275px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_102_y {
  fill: rgba(255,255,255,1);
}
.Trazado_102_y {
  overflow: visible;
  position: absolute;
  width: 23.329px;
  height: 23.282px;
  left: 10.9px;
  top: 126.444px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_422 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Trazado_422 {
  overflow: visible;
  position: absolute;
  width: 120.161px;
  height: 107.063px;
  left: 742.074px;
  top: 450.573px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_139 {
  position: absolute;
  width: 529.494px;
  height: 226.396px;
  left: 1264.962px;
  top: 654.683px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Rectngulo_20_ {
  fill: rgba(229,74,118,1);
}
.Rectngulo_20_ {
  filter: drop-shadow(2px 2px 9px rgba(177, 177, 177, 0.749));
  position: absolute;
  overflow: visible;
  width: 556.494px;
  height: 253.396px;
  left: 0px;
  top: 0px;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Trazado_141_ {
  fill: rgba(172,27,87,1);
}
.Trazado_141_ {
  overflow: visible;
  position: absolute;
  width: 241.708px;
  height: 226.395px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Informacin_trmites {
  left: 257.867px;
  top: 51.671px;
  position: absolute;
  overflow: visible;
  width: 251px;
  white-space: nowrap;
  line-height: 52px;
  margin-top: -1px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Grupo_60_ {
  position: absolute;
  width: 147.036px;
  height: 147.042px;
  left: 42.61px;
  top: 42.993px;
  overflow: visible;
}
#Trazado_148_ {
  fill: rgba(255,255,255,1);
}
.Trazado_148_ {
  overflow: visible;
  position: absolute;
  width: 147.036px;
  height: 147.042px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_149_ {
  fill: rgba(255,255,255,1);
}
.Trazado_149_ {
  overflow: visible;
  position: absolute;
  width: 42.177px;
  height: 66.195px;
  left: 54.337px;
  top: 53.291px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_150_ {
  fill: rgba(255,255,255,1);
}
.Trazado_150_ {
  overflow: visible;
  position: absolute;
  width: 24.614px;
  height: 24.591px;
  left: 62.232px;
  top: 24.865px;
  transform: matrix(1,0,0,1,0,0);
}