@font-face {
  font-family: Arciform;
  src: url("Arciform.otf");
}
.mediaViewInfo {
	--web-view-name: presentacion;
	--web-view-id: presentacion;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: Arciform Sans;
}
:root {
	--web-view-ids: presentacion;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#presentacion {
	position: absolute;
	width: 1920px;
	height: 1080px;
	font-family: Arciform Sans;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: presentacion;
	--web-view-id: presentacion;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: Arciform Sans;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectngulo_27 {
	opacity: 0.56;
	position: absolute;
	width: 1141.44px;
	height: 712.56px;
	left: -279.12px;
	top: 969.36px;
	overflow: visible;
}
#Rectngulo_28 {
	fill: rgba(63,27,30,1);
}
.Rectngulo_28 {
	position: absolute;
	overflow: visible;
	width: 1929.72px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Grupo_91 {
	position: absolute;
	width: 342.971px;
	height: 52.976px;
	left: 776.814px;
	top: 147.999px;
	overflow: visible;
}
#Grupo_88 {
	position: absolute;
	width: 196.929px;
	height: 52.976px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_257 {
	fill: rgba(255,255,255,1);
}
.Trazado_257 {
	overflow: visible;
	position: absolute;
	width: 46.767px;
	height: 41.963px;
	left: 0px;
	top: 3.669px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_258 {
	fill: rgba(255,255,255,1);
}
.Trazado_258 {
	overflow: visible;
	position: absolute;
	width: 35.044px;
	height: 21.338px;
	left: 87.732px;
	top: 16.141px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_259 {
	fill: rgba(255,255,255,1);
}
.Trazado_259 {
	overflow: visible;
	position: absolute;
	width: 32.707px;
	height: 33.76px;
	left: 124.839px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_260 {
	fill: rgba(255,255,255,1);
}
.Trazado_260 {
	overflow: visible;
	position: absolute;
	width: 36.516px;
	height: 25.163px;
	left: 48.811px;
	top: 16.141px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_261 {
	fill: rgba(255,255,255,1);
}
.Trazado_261 {
	overflow: visible;
	position: absolute;
	width: 34.494px;
	height: 14.008px;
	left: 160.638px;
	top: 16.141px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_262 {
	fill: rgba(255,255,255,1);
}
.Trazado_262 {
	overflow: visible;
	position: absolute;
	width: 38.199px;
	height: 11.197px;
	left: 7.155px;
	top: 41.779px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_263 {
	fill: rgba(255,255,255,1);
}
.Trazado_263 {
	overflow: visible;
	position: absolute;
	width: 34.46px;
	height: 16.597px;
	left: 87.974px;
	top: 36.379px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_87 {
	position: absolute;
	width: 32.85px;
	height: 22.515px;
	left: 124.839px;
	top: 30.461px;
	overflow: visible;
}
#Trazado_264 {
	fill: rgba(255,255,255,1);
}
.Trazado_264 {
	overflow: visible;
	position: absolute;
	width: 10.678px;
	height: 22.515px;
	left: 22.172px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_265 {
	fill: rgba(255,255,255,1);
}
.Trazado_265 {
	overflow: visible;
	position: absolute;
	width: 10.574px;
	height: 20.283px;
	left: 0px;
	top: 2.232px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_266 {
	fill: rgba(255,255,255,1);
}
.Trazado_266 {
	overflow: visible;
	position: absolute;
	width: 34.999px;
	height: 15.203px;
	left: 50.057px;
	top: 37.773px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_267 {
	fill: rgba(255,255,255,1);
}
.Trazado_267 {
	overflow: visible;
	position: absolute;
	width: 36.835px;
	height: 26.307px;
	left: 160.094px;
	top: 26.669px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_89 {
	position: absolute;
	width: 79.821px;
	height: 13.899px;
	left: 210.542px;
	top: 19.607px;
	overflow: visible;
}
#Trazado_268 {
	fill: rgba(255,255,255,1);
}
.Trazado_268 {
	overflow: visible;
	position: absolute;
	width: 10.395px;
	height: 13.875px;
	left: 0px;
	top: 0.024px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_269 {
	fill: rgba(255,255,255,1);
}
.Trazado_269 {
	overflow: visible;
	position: absolute;
	width: 13.581px;
	height: 13.875px;
	left: 12.699px;
	top: 0.024px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_270 {
	fill: rgba(255,255,255,1);
}
.Trazado_270 {
	overflow: visible;
	position: absolute;
	width: 21.598px;
	height: 13.679px;
	left: 29.222px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_271 {
	fill: rgba(255,255,255,1);
}
.Trazado_271 {
	overflow: visible;
	position: absolute;
	width: 13.581px;
	height: 13.875px;
	left: 53.639px;
	top: 0.024px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_272 {
	fill: rgba(255,255,255,1);
}
.Trazado_272 {
	overflow: visible;
	position: absolute;
	width: 10.394px;
	height: 13.875px;
	left: 69.427px;
	top: 0.024px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_90 {
	position: absolute;
	width: 132.429px;
	height: 19.563px;
	left: 210.542px;
	top: 33.369px;
	overflow: visible;
}
#Trazado_273 {
	fill: rgba(255,255,255,1);
}
.Trazado_273 {
	overflow: visible;
	position: absolute;
	width: 2.991px;
	height: 18.656px;
	left: 0px;
	top: 0.686px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_274 {
	fill: rgba(255,255,255,1);
}
.Trazado_274 {
	overflow: visible;
	position: absolute;
	width: 12.037px;
	height: 13.679px;
	left: 6.398px;
	top: 5.663px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_275 {
	fill: rgba(255,255,255,1);
}
.Trazado_275 {
	overflow: visible;
	position: absolute;
	width: 12.037px;
	height: 13.679px;
	left: 22.088px;
	top: 5.663px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_276 {
	fill: rgba(255,255,255,1);
}
.Trazado_276 {
	overflow: visible;
	position: absolute;
	width: 13.581px;
	height: 13.876px;
	left: 36.944px;
	top: 5.687px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_277 {
	fill: rgba(255,255,255,1);
}
.Trazado_277 {
	overflow: visible;
	position: absolute;
	width: 13.14px;
	height: 13.434px;
	left: 51.874px;
	top: 5.908px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_278 {
	fill: rgba(255,255,255,1);
}
.Trazado_278 {
	overflow: visible;
	position: absolute;
	width: 13.631px;
	height: 13.876px;
	left: 66.386px;
	top: 5.687px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_279 {
	fill: rgba(255,255,255,1);
}
.Trazado_279 {
	overflow: visible;
	position: absolute;
	width: 12.747px;
	height: 13.876px;
	left: 82.959px;
	top: 5.687px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_280 {
	fill: rgba(255,255,255,1);
}
.Trazado_280 {
	overflow: visible;
	position: absolute;
	width: 2.99px;
	height: 18.656px;
	left: 98.305px;
	top: 0.686px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_281 {
	fill: rgba(255,255,255,1);
}
.Trazado_281 {
	overflow: visible;
	position: absolute;
	width: 13.582px;
	height: 19.563px;
	left: 103.869px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_282 {
	fill: rgba(255,255,255,1);
}
.Trazado_282 {
	overflow: visible;
	position: absolute;
	width: 12.037px;
	height: 13.679px;
	left: 120.392px;
	top: 5.663px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_94 {
	position: absolute;
	width: 852.48px;
	height: 763.347px;
	left: 1069.833px;
	top: 324.166px;
	overflow: visible;
}
#Grupo_93 {
	position: absolute;
	width: 852.48px;
	height: 763.347px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Sistema {
	left: 308.981px;
	top: 336.316px;
	position: absolute;
	overflow: visible;
	width: 732px;
	white-space: nowrap;
	line-height: 277.0547790527344px;
	margin-top: -23.087905883789062px;
	text-align: left;
	font-family: Arciform, Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 230.87896728515625px;
	color: rgba(232,84,124,1);
}
#Rectngulo_30 {
	fill: rgba(247,176,84,1);
}
.Rectngulo_30 {
	position: absolute;
	overflow: visible;
	width: 394.418px;
	height: 98.105px;
	left: 516.923px;
	top: 589.183px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: inicio;
	cursor: pointer;
}
#de_fichaje {
	left: 555.934px;
	top: 590.869px;
	position: absolute;
	overflow: visible;
	width: 325px;
	white-space: nowrap;
	line-height: 89.92259216308594px;
	margin-top: -7.493549346923828px;
	text-align: left;
	font-family: Arciform, Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 74.93549346923828px;
	color: rgba(255,255,255,1);
}
#Sistema_de_fichaje_para_el_seg {
	left: 334.778px;
	top: 705.839px;
	position: absolute;
	overflow: visible;
	width: 680.407px;
	height: 213.67999267578125px;
	line-height: 43.20000076293945px;
	margin-top: -3.6000003814697266px;
	text-align: center;
	font-family: Poppins-Light, Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#Grupo_95 {
	position: absolute;
	width: 38.836px;
	height: 70.708px;
	left: 1775.804px;
	top: 400.892px;
	overflow: visible;
}
#Trazado_285_lp {
	fill: url(#Trazado_285_lp);
}
.Trazado_285_lp {
	overflow: visible;
	position: absolute;
	width: 11.474px;
	height: 11.474px;
	left: 26.641px;
	top: 48.762px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_286_lr {
	fill: url(#Trazado_286_lr);
}
.Trazado_286_lr {
	overflow: visible;
	position: absolute;
	width: 35.869px;
	height: 50.849px;
	left: 2.259px;
	top: 7.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_287_lt {
	fill: url(#Trazado_287_lt);
}
.Trazado_287_lt {
	mix-blend-mode: color-dodge;
	overflow: visible;
	position: absolute;
	width: 35.869px;
	height: 50.849px;
	left: 2.259px;
	top: 7.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_288_lv {
	fill: url(#Trazado_288_lv);
}
.Trazado_288_lv {
	overflow: visible;
	position: absolute;
	width: 13.019px;
	height: 9.852px;
	left: 1.973px;
	top: 5.801px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_289_lx {
	fill: url(#Trazado_289_lx);
}
.Trazado_289_lx {
	overflow: visible;
	position: absolute;
	width: 11.993px;
	height: 12.988px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_31 {
	opacity: 0.2;
	position: absolute;
	width: 10.08px;
	height: 10.08px;
	left: 28.756px;
	top: 60.628px;
	overflow: visible;
}
#Grupo_137 {
	position: absolute;
	width: 1264.964px;
	height: 1080px;
	left: 662.763px;
	top: 3.88px;
	overflow: visible;
}
#Grupo_136 {
	position: absolute;
	width: 1264.964px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#mi_casa {
	position: absolute;
	width: 761px;
	height: 364px;
	left: 1136px;
	top: 505px;
	overflow: visible;
}