@font-face {
  font-family: Arciform;
  src: url("Arciform.otf");
}
.mediaViewInfo {
  --web-view-name: consulta_deuda;
  --web-view-id: consulta_deuda;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arciform Sans;
}
:root {
  --web-view-ids: consulta_deuda;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#consulta_deuda {
  position: absolute;
  width: 1920px;
  height: 1080px;
  font-family: Arciform Sans;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: consulta_deuda;
  --web-view-id: consulta_deuda;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arciform Sans;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Group_7 {
  position: absolute;
  width: 1927.567px;
  height: 664.12px;
  left: -2.287px;
  top: 415.88px;
  overflow: visible;
}
#Group_3 {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 875.002px;
  top: 0px;
  overflow: visible;
}
#Group_2 {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_6 {
  position: absolute;
  width: 1052.566px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_5 {
  position: absolute;
  width: 1052.566px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_11 {
  position: absolute;
  width: 1932.274px;
  height: 415.88px;
  left: -12.274px;
  top: 0px;
  overflow: visible;
}
#Group_10 {
  position: absolute;
  width: 1932.274px;
  height: 415.88px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_176 {
  position: absolute;
  width: 1932.274px;
  height: 415.88px;
  left: -12.274px;
  top: 0px;
  overflow: visible;
}
#Group_10_ {
  position: absolute;
  width: 1932.274px;
  height: 415.88px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Revisin_Tcnica {
  left: 447.16px;
  top: 125.82px;
  position: absolute;
  overflow: visible;
  width: 860px;
  white-space: nowrap;
  line-height: 145.33506774902344px;
  margin-top: -12.111259460449219px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 121.112548828125px;
  color: rgba(247,176,84,1);
}
#Group_142 {
  position: absolute;
  width: 488.35px;
  height: 208.804px;
  left: 411.63px;
  top: 591.07px;
  overflow: visible;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: retecnica;
  cursor: pointer;
}
#Rectangle_5 {
  fill: rgba(247,176,84,1);
}
.Rectangle_5 {
  filter: drop-shadow(2px 2px 9px rgba(177, 177, 177, 0.749));
  position: absolute;
  overflow: visible;
  width: 515.35px;
  height: 235.804px;
  left: 0px;
  top: 0px;
}
#Path_5 {
  fill: rgba(172,27,87,1);
}
.Path_5 {
  overflow: visible;
  position: absolute;
  width: 222.926px;
  height: 208.803px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_15 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_15 {
  overflow: visible;
  position: absolute;
  width: 120.161px;
  height: 107.063px;
  left: 43.801px;
  top: 52.944px;
  transform: matrix(1,0,0,1,0,0);
}
#Revisin__Tecnica {
  left: 244.175px;
  top: 41.86px;
  position: absolute;
  overflow: visible;
  width: 196px;
  white-space: nowrap;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Group_145 {
  position: absolute;
  width: 488.35px;
  height: 208.804px;
  left: 1020.021px;
  top: 591.07px;
  overflow: visible;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: rtecniaobservaciones;
  cursor: pointer;
}
#Rectangle_8 {
  fill: rgba(247,176,84,1);
}
.Rectangle_8 {
  filter: drop-shadow(2px 2px 9px rgba(177, 177, 177, 0.749));
  position: absolute;
  overflow: visible;
  width: 515.35px;
  height: 235.804px;
  left: 0px;
  top: 0px;
}
#Path_8 {
  fill: rgba(172,27,87,1);
}
.Path_8 {
  overflow: visible;
  position: absolute;
  width: 222.926px;
  height: 208.804px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_12 {
  position: absolute;
  width: 136.067px;
  height: 147.263px;
  left: 38.855px;
  top: 38.282px;
  overflow: visible;
}
#Path_9 {
  fill: rgba(255,255,255,1);
}
.Path_9 {
  overflow: visible;
  position: absolute;
  width: 136.067px;
  height: 147.263px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
  fill: rgba(255,255,255,1);
}
.Path_10 {
  overflow: visible;
  position: absolute;
  width: 76.86px;
  height: 26.476px;
  left: 25.143px;
  top: 41.156px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
  fill: rgba(255,255,255,1);
}
.Path_11 {
  overflow: visible;
  position: absolute;
  width: 76.852px;
  height: 26.461px;
  left: 38.167px;
  top: 85.577px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
  fill: rgba(255,255,255,1);
}
.Path_12 {
  overflow: visible;
  position: absolute;
  width: 76.853px;
  height: 26.467px;
  left: 33.815px;
  top: 70.782px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
  fill: rgba(255,255,255,1);
}
.Path_13 {
  overflow: visible;
  position: absolute;
  width: 76.853px;
  height: 26.435px;
  left: 29.481px;
  top: 55.988px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
  fill: rgba(255,255,255,1);
}
.Path_14 {
  overflow: visible;
  position: absolute;
  width: 41.243px;
  height: 16.023px;
  left: 42.504px;
  top: 110.826px;
  transform: matrix(1,0,0,1,0,0);
}
#Entrega__observaciones_tecnica {
  left: 244.175px;
  top: 34.282px;
  position: absolute;
  overflow: visible;
  width: 243px;
  white-space: nowrap;
  line-height: 40.2128791809082px;
  margin-top: -0.7733249664306641px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 38.666229248046875px;
  color: rgba(255,255,255,1);
}
#Group_27 {
  position: absolute;
  width: 29.88px;
  height: 20.343px;
  left: 1705.865px;
  top: 993.219px;
  overflow: visible;
}
#Line_1 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 8px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Line_1 {
  overflow: visible;
  position: absolute;
  width: 15.242px;
  height: 8px;
  left: 14.638px;
  top: 10.172px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_26 {
  position: absolute;
  width: 17.615px;
  height: 20.343px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_22 {
  fill: rgba(255,255,255,1);
  stroke: rgba(255,255,255,1);
  stroke-width: 8px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_22 {
  overflow: visible;
  position: absolute;
  width: 29.614px;
  height: 34.201px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_32 {
  position: absolute;
  width: 342.97px;
  height: 52.976px;
  left: 59.697px;
  top: 976.419px;
  overflow: visible;
}
#Group_29 {
  position: absolute;
  width: 196.928px;
  height: 52.976px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_23 {
  fill: rgba(172,27,87,1);
}
.Path_23 {
  overflow: visible;
  position: absolute;
  width: 46.767px;
  height: 41.963px;
  left: 0px;
  top: 3.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_24 {
  fill: rgba(172,27,87,1);
}
.Path_24 {
  overflow: visible;
  position: absolute;
  width: 35.044px;
  height: 21.338px;
  left: 87.732px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
  fill: rgba(172,27,87,1);
}
.Path_25 {
  overflow: visible;
  position: absolute;
  width: 32.708px;
  height: 33.76px;
  left: 124.838px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
  fill: rgba(172,27,87,1);
}
.Path_26 {
  overflow: visible;
  position: absolute;
  width: 36.516px;
  height: 25.163px;
  left: 48.81px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_27 {
  fill: rgba(172,27,87,1);
}
.Path_27 {
  overflow: visible;
  position: absolute;
  width: 34.494px;
  height: 14.008px;
  left: 160.638px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_28 {
  fill: rgba(172,27,87,1);
}
.Path_28 {
  overflow: visible;
  position: absolute;
  width: 38.199px;
  height: 11.197px;
  left: 7.154px;
  top: 41.779px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_29 {
  fill: rgba(172,27,87,1);
}
.Path_29 {
  overflow: visible;
  position: absolute;
  width: 34.46px;
  height: 16.597px;
  left: 87.973px;
  top: 36.379px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_28 {
  position: absolute;
  width: 32.85px;
  height: 22.515px;
  left: 124.838px;
  top: 30.461px;
  overflow: visible;
}
#Path_30 {
  fill: rgba(172,27,87,1);
}
.Path_30 {
  overflow: visible;
  position: absolute;
  width: 10.678px;
  height: 22.515px;
  left: 22.172px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_31 {
  fill: rgba(172,27,87,1);
}
.Path_31 {
  overflow: visible;
  position: absolute;
  width: 10.574px;
  height: 20.283px;
  left: 0px;
  top: 2.232px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
  fill: rgba(172,27,87,1);
}
.Path_32 {
  overflow: visible;
  position: absolute;
  width: 34.999px;
  height: 15.202px;
  left: 50.056px;
  top: 37.774px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
  fill: rgba(172,27,87,1);
}
.Path_33 {
  overflow: visible;
  position: absolute;
  width: 36.835px;
  height: 26.307px;
  left: 160.093px;
  top: 26.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_30 {
  position: absolute;
  width: 79.82px;
  height: 13.899px;
  left: 210.542px;
  top: 19.607px;
  overflow: visible;
}
#Path_34 {
  fill: rgba(172,27,87,1);
}
.Path_34 {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 0px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_35 {
  fill: rgba(172,27,87,1);
}
.Path_35 {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 12.698px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_36 {
  fill: rgba(172,27,87,1);
}
.Path_36 {
  overflow: visible;
  position: absolute;
  width: 21.598px;
  height: 13.679px;
  left: 29.221px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_37 {
  fill: rgba(172,27,87,1);
}
.Path_37 {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 53.638px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_38 {
  fill: rgba(172,27,87,1);
}
.Path_38 {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 69.426px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_31 {
  position: absolute;
  width: 132.428px;
  height: 19.563px;
  left: 210.542px;
  top: 33.369px;
  overflow: visible;
}
#Path_39 {
  fill: rgba(172,27,87,1);
}
.Path_39 {
  overflow: visible;
  position: absolute;
  width: 2.99px;
  height: 18.656px;
  left: 0px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_40 {
  fill: rgba(172,27,87,1);
}
.Path_40 {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 6.398px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_41 {
  fill: rgba(172,27,87,1);
}
.Path_41 {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 22.087px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_42 {
  fill: rgba(172,27,87,1);
}
.Path_42 {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 13.875px;
  left: 36.943px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_43 {
  fill: rgba(172,27,87,1);
}
.Path_43 {
  overflow: visible;
  position: absolute;
  width: 13.14px;
  height: 13.434px;
  left: 51.873px;
  top: 5.908px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_44 {
  fill: rgba(172,27,87,1);
}
.Path_44 {
  overflow: visible;
  position: absolute;
  width: 13.63px;
  height: 13.875px;
  left: 66.386px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_45 {
  fill: rgba(172,27,87,1);
}
.Path_45 {
  overflow: visible;
  position: absolute;
  width: 12.748px;
  height: 13.875px;
  left: 82.958px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_46 {
  fill: rgba(172,27,87,1);
}
.Path_46 {
  overflow: visible;
  position: absolute;
  width: 2.991px;
  height: 18.656px;
  left: 98.304px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_47 {
  fill: rgba(172,27,87,1);
}
.Path_47 {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 19.563px;
  left: 103.868px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_48 {
  fill: rgba(172,27,87,1);
}
.Path_48 {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 120.392px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_147 {
  position: absolute;
  width: 113.636px;
  height: 113.636px;
  left: 1762.997px;
  top: 941.5px;
  overflow: visible;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: inicio;
  cursor: pointer;
}
#Ellipse_1 {
  fill: rgba(197,197,196,1);
}
.Ellipse_1 {
  width: 80.353px;
  height: 80.353px;
  position: absolute;
  overflow: visible;
  transform: translate(-1762.997px, -941.5px) matrix(1,0,0,1,1779.6382,958.1418) rotate(-45deg);
  transform-origin: center;
}
#Path_49 {
  fill: rgba(255,255,255,1);
}
.Path_49 {
  overflow: visible;
  position: absolute;
  width: 56.117px;
  height: 40.952px;
  left: 28.76px;
  top: 35.972px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_146 {
  position: absolute;
  width: 113.636px;
  height: 113.636px;
  left: 1632.983px;
  top: 941.13px;
  overflow: visible;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Ellipse_2 {
  fill: rgba(197,197,196,1);
}
.Ellipse_2 {
  width: 80.353px;
  height: 80.353px;
  position: absolute;
  overflow: visible;
  transform: translate(-1632.983px, -941.13px) matrix(1,0,0,1,1649.625,957.7716) rotate(-45deg);
  transform-origin: center;
}
#Path_50 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_50 {
  overflow: visible;
  position: absolute;
  width: 26.91px;
  height: 47.387px;
  left: 41.497px;
  top: 33.857px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_37 {
  position: absolute;
  width: 342.97px;
  height: 52.976px;
  left: 59.697px;
  top: 976.419px;
  overflow: visible;
}
#Group_34 {
  position: absolute;
  width: 196.928px;
  height: 52.976px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_51 {
  fill: rgba(172,27,87,1);
}
.Path_51 {
  overflow: visible;
  position: absolute;
  width: 46.767px;
  height: 41.963px;
  left: 0px;
  top: 3.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_52 {
  fill: rgba(172,27,87,1);
}
.Path_52 {
  overflow: visible;
  position: absolute;
  width: 35.044px;
  height: 21.338px;
  left: 87.732px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_53 {
  fill: rgba(172,27,87,1);
}
.Path_53 {
  overflow: visible;
  position: absolute;
  width: 32.708px;
  height: 33.76px;
  left: 124.838px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_54 {
  fill: rgba(172,27,87,1);
}
.Path_54 {
  overflow: visible;
  position: absolute;
  width: 36.516px;
  height: 25.163px;
  left: 48.81px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_55 {
  fill: rgba(172,27,87,1);
}
.Path_55 {
  overflow: visible;
  position: absolute;
  width: 34.494px;
  height: 14.008px;
  left: 160.638px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_56 {
  fill: rgba(172,27,87,1);
}
.Path_56 {
  overflow: visible;
  position: absolute;
  width: 38.199px;
  height: 11.197px;
  left: 7.154px;
  top: 41.779px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_57 {
  fill: rgba(172,27,87,1);
}
.Path_57 {
  overflow: visible;
  position: absolute;
  width: 34.46px;
  height: 16.597px;
  left: 87.973px;
  top: 36.379px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_33 {
  position: absolute;
  width: 32.85px;
  height: 22.515px;
  left: 124.838px;
  top: 30.461px;
  overflow: visible;
}
#Path_58 {
  fill: rgba(172,27,87,1);
}
.Path_58 {
  overflow: visible;
  position: absolute;
  width: 10.678px;
  height: 22.515px;
  left: 22.172px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_59 {
  fill: rgba(172,27,87,1);
}
.Path_59 {
  overflow: visible;
  position: absolute;
  width: 10.574px;
  height: 20.283px;
  left: 0px;
  top: 2.232px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_60 {
  fill: rgba(172,27,87,1);
}
.Path_60 {
  overflow: visible;
  position: absolute;
  width: 34.999px;
  height: 15.202px;
  left: 50.056px;
  top: 37.774px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_61 {
  fill: rgba(172,27,87,1);
}
.Path_61 {
  overflow: visible;
  position: absolute;
  width: 36.835px;
  height: 26.307px;
  left: 160.093px;
  top: 26.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_35 {
  position: absolute;
  width: 79.82px;
  height: 13.899px;
  left: 210.542px;
  top: 19.607px;
  overflow: visible;
}
#Path_62 {
  fill: rgba(172,27,87,1);
}
.Path_62 {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 0px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_63 {
  fill: rgba(172,27,87,1);
}
.Path_63 {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 12.698px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_64 {
  fill: rgba(172,27,87,1);
}
.Path_64 {
  overflow: visible;
  position: absolute;
  width: 21.598px;
  height: 13.679px;
  left: 29.221px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_65 {
  fill: rgba(172,27,87,1);
}
.Path_65 {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 53.638px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_66 {
  fill: rgba(172,27,87,1);
}
.Path_66 {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 69.426px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_36 {
  position: absolute;
  width: 132.428px;
  height: 19.563px;
  left: 210.542px;
  top: 33.369px;
  overflow: visible;
}
#Path_67 {
  fill: rgba(172,27,87,1);
}
.Path_67 {
  overflow: visible;
  position: absolute;
  width: 2.99px;
  height: 18.656px;
  left: 0px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_68 {
  fill: rgba(172,27,87,1);
}
.Path_68 {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 6.398px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_69 {
  fill: rgba(172,27,87,1);
}
.Path_69 {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 22.087px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_70 {
  fill: rgba(172,27,87,1);
}
.Path_70 {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 13.875px;
  left: 36.943px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_71 {
  fill: rgba(172,27,87,1);
}
.Path_71 {
  overflow: visible;
  position: absolute;
  width: 13.14px;
  height: 13.434px;
  left: 51.873px;
  top: 5.908px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_72 {
  fill: rgba(172,27,87,1);
}
.Path_72 {
  overflow: visible;
  position: absolute;
  width: 13.63px;
  height: 13.875px;
  left: 66.386px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_73 {
  fill: rgba(172,27,87,1);
}
.Path_73 {
  overflow: visible;
  position: absolute;
  width: 12.748px;
  height: 13.875px;
  left: 82.958px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_74 {
  fill: rgba(172,27,87,1);
}
.Path_74 {
  overflow: visible;
  position: absolute;
  width: 2.991px;
  height: 18.656px;
  left: 98.304px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_75 {
  fill: rgba(172,27,87,1);
}
.Path_75 {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 19.563px;
  left: 103.868px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_76 {
  fill: rgba(172,27,87,1);
}
.Path_76 {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 120.392px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
} 