@font-face {
  font-family: Arciform;
  src: url("Arciform.otf");
}
.mediaViewInfo {
  --web-view-name: tramites;
  --web-view-id: tramites;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arciform Sans;
}
:root {
  --web-view-ids: tramites;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#tramites {
  position: absolute;
  width: 1920px;
  height: 1080px;
  font-family: Arciform Sans;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: tramites;
  --web-view-id: tramites;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arciform Sans;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Grupo_11_f {
  position: absolute;
  width: 1932.274px;
  height: 415.88px;
  left: -12.274px;
  top: 0px;
  overflow: visible;
}
#Grupo_10_f {
  position: absolute;
  width: 1932.274px;
  height: 415.88px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_58 {
  position: absolute;
  width: 1919.431px;
  height: 664.12px;
  left: 3.614px;
  top: 415.88px;
  overflow: visible;
}
#Grupo_54 {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 866.866px;
  top: 0px;
  overflow: visible;
}
#Grupo_53 {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_57 {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_56 {
  position: absolute;
  width: 1052.565px;
  height: 664.12px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Trmites {
  left: 663.53px;
  top: 128.059px;
  position: absolute;
  overflow: visible;
  width: 582px;
  white-space: nowrap;
  line-height: 202.86288452148438px;
  margin-top: -16.905242919921875px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 169.05239868164062px;
  color: rgba(229,74,118,1);
}
#Grupo_141 {
  position: absolute;
  width: 113.636px;
  height: 113.636px;
  left: 1762.996px;
  top: 941.5px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: inicio;
  cursor: pointer;
}
#Elipse_5 {
  fill: rgba(197,197,196,1);
}
.Elipse_5 {
  width: 80.353px;
  height: 80.353px;
  position: absolute;
  overflow: visible;
  transform: translate(-1762.996px, -941.5px) matrix(1,0,0,1,1779.638,958.1418) rotate(-45deg);
  transform-origin: center;
}
#Trazado_151 {
  fill: rgba(255,255,255,1);
}
.Trazado_151 {
  overflow: visible;
  position: absolute;
  width: 56.117px;
  height: 40.952px;
  left: 28.76px;
  top: 35.972px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_140 {
  position: absolute;
  width: 113.636px;
  height: 113.636px;
  left: 1632.983px;
  top: 941.13px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: ficha;
  cursor: pointer;
}
#Elipse_6 {
  fill: rgba(197,197,196,1);
}
.Elipse_6 {
  width: 80.353px;
  height: 80.353px;
  position: absolute;
  overflow: visible;
  transform: translate(-1632.983px, -941.13px) matrix(1,0,0,1,1649.6249,957.7719) rotate(-45deg);
  transform-origin: center;
}
#Trazado_152 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Trazado_152 {
  overflow: visible;
  position: absolute;
  width: 26.91px;
  height: 47.387px;
  left: 41.497px;
  top: 33.857px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_65 {
  position: absolute;
  width: 342.97px;
  height: 52.976px;
  left: 59.697px;
  top: 976.419px;
  overflow: visible;
}
#Grupo_62 {
  position: absolute;
  width: 196.928px;
  height: 52.976px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Trazado_153 {
  fill: rgba(172,27,87,1);
}
.Trazado_153 {
  overflow: visible;
  position: absolute;
  width: 46.767px;
  height: 41.963px;
  left: 0px;
  top: 3.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_154 {
  fill: rgba(172,27,87,1);
}
.Trazado_154 {
  overflow: visible;
  position: absolute;
  width: 35.043px;
  height: 21.338px;
  left: 87.732px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_155 {
  fill: rgba(172,27,87,1);
}
.Trazado_155 {
  overflow: visible;
  position: absolute;
  width: 32.708px;
  height: 33.76px;
  left: 124.838px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_156 {
  fill: rgba(172,27,87,1);
}
.Trazado_156 {
  overflow: visible;
  position: absolute;
  width: 36.516px;
  height: 25.163px;
  left: 48.81px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_157 {
  fill: rgba(172,27,87,1);
}
.Trazado_157 {
  overflow: visible;
  position: absolute;
  width: 34.495px;
  height: 14.008px;
  left: 160.637px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_158 {
  fill: rgba(172,27,87,1);
}
.Trazado_158 {
  overflow: visible;
  position: absolute;
  width: 38.199px;
  height: 11.197px;
  left: 7.154px;
  top: 41.779px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_159 {
  fill: rgba(172,27,87,1);
}
.Trazado_159 {
  overflow: visible;
  position: absolute;
  width: 34.46px;
  height: 16.597px;
  left: 87.973px;
  top: 36.379px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_61 {
  position: absolute;
  width: 32.85px;
  height: 22.515px;
  left: 124.838px;
  top: 30.461px;
  overflow: visible;
}
#Trazado_160 {
  fill: rgba(172,27,87,1);
}
.Trazado_160 {
  overflow: visible;
  position: absolute;
  width: 10.678px;
  height: 22.515px;
  left: 22.172px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_161 {
  fill: rgba(172,27,87,1);
}
.Trazado_161 {
  overflow: visible;
  position: absolute;
  width: 10.574px;
  height: 20.283px;
  left: 0px;
  top: 2.232px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_162 {
  fill: rgba(172,27,87,1);
}
.Trazado_162 {
  overflow: visible;
  position: absolute;
  width: 34.999px;
  height: 15.202px;
  left: 50.056px;
  top: 37.774px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_163 {
  fill: rgba(172,27,87,1);
}
.Trazado_163 {
  overflow: visible;
  position: absolute;
  width: 36.835px;
  height: 26.307px;
  left: 160.093px;
  top: 26.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_63 {
  position: absolute;
  width: 79.82px;
  height: 13.899px;
  left: 210.542px;
  top: 19.607px;
  overflow: visible;
}
#Trazado_164 {
  fill: rgba(172,27,87,1);
}
.Trazado_164 {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 0px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_165 {
  fill: rgba(172,27,87,1);
}
.Trazado_165 {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 12.698px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_166 {
  fill: rgba(172,27,87,1);
}
.Trazado_166 {
  overflow: visible;
  position: absolute;
  width: 21.598px;
  height: 13.679px;
  left: 29.221px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_167 {
  fill: rgba(172,27,87,1);
}
.Trazado_167 {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 53.638px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_168 {
  fill: rgba(172,27,87,1);
}
.Trazado_168 {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 69.426px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_64 {
  position: absolute;
  width: 132.428px;
  height: 19.563px;
  left: 210.542px;
  top: 33.369px;
  overflow: visible;
}
#Trazado_169 {
  fill: rgba(172,27,87,1);
}
.Trazado_169 {
  overflow: visible;
  position: absolute;
  width: 2.99px;
  height: 18.656px;
  left: 0px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_170 {
  fill: rgba(172,27,87,1);
}
.Trazado_170 {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 6.398px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_171 {
  fill: rgba(172,27,87,1);
}
.Trazado_171 {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 22.087px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_172 {
  fill: rgba(172,27,87,1);
}
.Trazado_172 {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 13.875px;
  left: 36.943px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_173 {
  fill: rgba(172,27,87,1);
}
.Trazado_173 {
  overflow: visible;
  position: absolute;
  width: 13.14px;
  height: 13.434px;
  left: 51.873px;
  top: 5.908px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_174 {
  fill: rgba(172,27,87,1);
}
.Trazado_174 {
  overflow: visible;
  position: absolute;
  width: 13.631px;
  height: 13.875px;
  left: 66.385px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_175 {
  fill: rgba(172,27,87,1);
}
.Trazado_175 {
  overflow: visible;
  position: absolute;
  width: 12.748px;
  height: 13.875px;
  left: 82.958px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_176 {
  fill: rgba(172,27,87,1);
}
.Trazado_176 {
  overflow: visible;
  position: absolute;
  width: 2.991px;
  height: 18.656px;
  left: 98.304px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_177 {
  fill: rgba(172,27,87,1);
}
.Trazado_177 {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 19.563px;
  left: 103.868px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_178 {
  fill: rgba(172,27,87,1);
}
.Trazado_178 {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 120.392px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_70 {
  position: absolute;
  width: 342.97px;
  height: 52.976px;
  left: 59.697px;
  top: 976.419px;
  overflow: visible;
}
#Grupo_67 {
  position: absolute;
  width: 196.928px;
  height: 52.976px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Trazado_179 {
  fill: rgba(172,27,87,1);
}
.Trazado_179 {
  overflow: visible;
  position: absolute;
  width: 46.767px;
  height: 41.963px;
  left: 0px;
  top: 3.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_180 {
  fill: rgba(172,27,87,1);
}
.Trazado_180 {
  overflow: visible;
  position: absolute;
  width: 35.043px;
  height: 21.338px;
  left: 87.732px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_181 {
  fill: rgba(172,27,87,1);
}
.Trazado_181 {
  overflow: visible;
  position: absolute;
  width: 32.708px;
  height: 33.76px;
  left: 124.838px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_182 {
  fill: rgba(172,27,87,1);
}
.Trazado_182 {
  overflow: visible;
  position: absolute;
  width: 36.516px;
  height: 25.163px;
  left: 48.81px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_183 {
  fill: rgba(172,27,87,1);
}
.Trazado_183 {
  overflow: visible;
  position: absolute;
  width: 34.495px;
  height: 14.008px;
  left: 160.637px;
  top: 16.141px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_184 {
  fill: rgba(172,27,87,1);
}
.Trazado_184 {
  overflow: visible;
  position: absolute;
  width: 38.199px;
  height: 11.197px;
  left: 7.154px;
  top: 41.779px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_185 {
  fill: rgba(172,27,87,1);
}
.Trazado_185 {
  overflow: visible;
  position: absolute;
  width: 34.46px;
  height: 16.597px;
  left: 87.973px;
  top: 36.379px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_66 {
  position: absolute;
  width: 32.85px;
  height: 22.515px;
  left: 124.838px;
  top: 30.461px;
  overflow: visible;
}
#Trazado_186 {
  fill: rgba(172,27,87,1);
}
.Trazado_186 {
  overflow: visible;
  position: absolute;
  width: 10.678px;
  height: 22.515px;
  left: 22.172px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_187 {
  fill: rgba(172,27,87,1);
}
.Trazado_187 {
  overflow: visible;
  position: absolute;
  width: 10.574px;
  height: 20.283px;
  left: 0px;
  top: 2.232px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_188 {
  fill: rgba(172,27,87,1);
}
.Trazado_188 {
  overflow: visible;
  position: absolute;
  width: 34.999px;
  height: 15.202px;
  left: 50.056px;
  top: 37.774px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_189 {
  fill: rgba(172,27,87,1);
}
.Trazado_189 {
  overflow: visible;
  position: absolute;
  width: 36.835px;
  height: 26.307px;
  left: 160.093px;
  top: 26.669px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_68 {
  position: absolute;
  width: 79.82px;
  height: 13.899px;
  left: 210.542px;
  top: 19.607px;
  overflow: visible;
}
#Trazado_190 {
  fill: rgba(172,27,87,1);
}
.Trazado_190 {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 0px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_191 {
  fill: rgba(172,27,87,1);
}
.Trazado_191 {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 12.698px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_192 {
  fill: rgba(172,27,87,1);
}
.Trazado_192 {
  overflow: visible;
  position: absolute;
  width: 21.598px;
  height: 13.679px;
  left: 29.221px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_193 {
  fill: rgba(172,27,87,1);
}
.Trazado_193 {
  overflow: visible;
  position: absolute;
  width: 13.581px;
  height: 13.875px;
  left: 53.638px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_194 {
  fill: rgba(172,27,87,1);
}
.Trazado_194 {
  overflow: visible;
  position: absolute;
  width: 10.394px;
  height: 13.875px;
  left: 69.426px;
  top: 0.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_69 {
  position: absolute;
  width: 132.428px;
  height: 19.563px;
  left: 210.542px;
  top: 33.369px;
  overflow: visible;
}
#Trazado_195 {
  fill: rgba(172,27,87,1);
}
.Trazado_195 {
  overflow: visible;
  position: absolute;
  width: 2.99px;
  height: 18.656px;
  left: 0px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_196 {
  fill: rgba(172,27,87,1);
}
.Trazado_196 {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 6.398px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_197 {
  fill: rgba(172,27,87,1);
}
.Trazado_197 {
  overflow: visible;
  position: absolute;
  width: 12.037px;
  height: 13.679px;
  left: 22.087px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_198 {
  fill: rgba(172,27,87,1);
}
.Trazado_198 {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 13.875px;
  left: 36.943px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_199 {
  fill: rgba(172,27,87,1);
}
.Trazado_199 {
  overflow: visible;
  position: absolute;
  width: 13.14px;
  height: 13.434px;
  left: 51.873px;
  top: 5.908px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_200 {
  fill: rgba(172,27,87,1);
}
.Trazado_200 {
  overflow: visible;
  position: absolute;
  width: 13.631px;
  height: 13.875px;
  left: 66.385px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_201 {
  fill: rgba(172,27,87,1);
}
.Trazado_201 {
  overflow: visible;
  position: absolute;
  width: 12.748px;
  height: 13.875px;
  left: 82.958px;
  top: 5.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_202 {
  fill: rgba(172,27,87,1);
}
.Trazado_202 {
  overflow: visible;
  position: absolute;
  width: 2.991px;
  height: 18.656px;
  left: 98.304px;
  top: 0.686px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_203 {
  fill: rgba(172,27,87,1);
}
.Trazado_203 {
  overflow: visible;
  position: absolute;
  width: 13.582px;
  height: 19.563px;
  left: 103.868px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_204 {
  fill: rgba(172,27,87,1);
}
.Trazado_204 {
  overflow: visible;
  position: absolute;
  width: 12.036px;
  height: 13.679px;
  left: 120.392px;
  top: 5.663px;
  transform: matrix(1,0,0,1,0,0);
}
#Buscar_Trmite {
  left: 855.5px;
  top: 827.13px;
  position: absolute;
  overflow: visible;
  width: 307px;
  white-space: nowrap;
  line-height: 52px;
  margin-top: -1px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Grupo_168 {
  position: absolute;
  width: 1367px;
  height: 482px;
  left: 297px;
  top: 460px;
  overflow: visible;
}
#Grupo_167 {
  position: absolute;
  width: 1367px;
  height: 482px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectngulo_33 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectngulo_33 {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 478px;
  left: 1px;
  top: 4px;
}
#Rectngulo_34 {
  fill: rgba(84,36,45,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectngulo_34 {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 168px;
  left: 0px;
  top: 0px;
}
#Lnea_2 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Lnea_2 {
  overflow: visible;
  position: absolute;
  width: 1240px;
  height: 1px;
  left: 63.5px;
  top: 309.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Trazado_421 {
  fill: rgba(247,176,84,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Trazado_421 {
  overflow: visible;
  position: absolute;
  width: 783px;
  height: 104px;
  left: 292px;
  top: 345px;
  transform: matrix(1,0,0,1,0,0);
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: inicio;
  cursor: pointer;

}
#Seguimiento__Desarchivo {
  left: 38px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 537px;
  white-space: nowrap;
  line-height: 52px;
  margin-top: -1px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Nro_Trmite {
  opacity: 0.48;
  left: 64px;
  top: 241px;
  position: absolute;
  overflow: visible;
  width: 209px;
  white-space: nowrap;
  line-height: 52px;
  margin-top: -6px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(7,7,7,1);
}

#hello_world {
  opacity: 4;
  left: 10px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 1230px;
  white-space: nowrap;
  line-height: 52px;
  margin-top: -6px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(7,7,7,1);
}
#Sacar_ficha {
  left: 563px;
  top: 363px;
  position: absolute;
  overflow: visible;
  width: 243px;
  white-space: nowrap;
  line-height: 52px;
  margin-top: -1px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(252,251,249,1);
}
#Ingrese_el_nmero_de_trmite_que {
  left: 64px;
  top: 183px;
  position: absolute;
  overflow: visible;
  width: 836px;
  white-space: nowrap;
  line-height: 52px;
  margin-top: -11px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(7,7,7,1);
}
#Trmites_Mi_Casa_Segura {
  left: 38px;
  top: 90px;
  position: absolute;
  overflow: visible;
  width: 416px;
  white-space: nowrap;
  line-height: 52px;
  margin-top: -6px;
  text-align: left;
  font-family: Arciform, Arciform Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(247,176,84,1);
}